<div class="navigationBar">
  <a href="index">Sistema de cadastro de clientes</a>
  <a href="index">Inicio</a>
  <a href="show">Lista de Clientes</a>
</div>
<div class="header">
    <font size="6">Listagem de Clientes</font>
</div>
<table class="table table-striped table-bordered">
    <thead class="th">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= @cliente.each do |c| %>
            <tr>
                <th><%= c[:id] %></th>
                <td><%= c[:nome] %></td>
                <td><%= c[:idade] %></td>
                <td><%= c[:email] %></td>
                <td>
                    <a href="detail" class="link">Editar</a> |
                    <a href="detail" class="link">Detalhes</a> |
                    <a href="detail" class="link">Deletar</a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<a href="detail" class="link">Adicionar novo cliente</a>